---
permalink: /events/index.html
layout: temp
current: about
title: Events
navigation: true
class: page-template
subclass: 'post page'
---
<aside class="read-next outer">
  <div class="inner">
    <div class="read-next-feed">               
      <article class="read-next-card"
          {% if site.cover %}
              style="background-image: url({{ site.baseurl }}{{ site.cover }})"
          {% else %}
              {% if event.cover %}
                  style="background-image: url(url({{ site.baseurl }}{{ event.cover }})"{% endif %}
          {% endif %}
      >
        <header class="read-next-card-header">
          <h3 class="read-next-card-header-title">
            <a>December</a>
          </h3>
        </header>

        <div class="read-next-divider">{% include infinity.html %}</div>
        <div class="read-next-card-content">
          <ul>
              {% assign count = 0 %}
              {% for event in site.events %}
                {% assign count = count | plus: 1 %}
                {% if count <= 5 %}
                    <li>
                      <a href="{{ site.baseurl }}{{ event.url | remove_first: '/' }}">
                        <strong>{{ event.event_date | date: "%d %b" }}</strong> → {{ event.title }} ({{ event.start_time }})
                      </a>
                    </li>
                {% endif %}
              {% endfor %}
          </ul>
        </div>
        <footer class="read-next-card-footer">
          <a href="{{ site.baseurl }}events/">
            See all events →
          </a>
        </footer>
      </article>
            
        <!-- If there's a next event, display it using the same markup included from - partials/post-card.hbs -->
        {% if event.next %}
            {% include post-card-next.html %}
        {% endif %}

        <!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs -->
        {% if event.previous %}
            {% include post-card-previous.html %}
        {% endif %}

    </div>
  </div>
</aside>