---
permalink: /members/index.html
layout: page
current: members
title: Members
navigation: true
class: page-template
subclass: 'post page'
---
<table>
<tbody>
<tr>
<th>Name</th>
<th>Surname</th>
<th>Phone</th>
<th>Email</th>
<th>Address</th>
</tr>
{% for member in site.data.members %}
  <tr>
    <td>{{ member.firstname }}</tc>
    <td>{{ member.lastname}}</tc>
    <td>{{ member.phone }}</td>
    <td>{{ member.email }}</td>
    <td>{{ member.address }}</td>
  </tr>
{% endfor %}
</table>