<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}events/">Events</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/sermons/">Sermons</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="{{site.baseurl}}members/">Members</a></li>
</ul>
